.app__navbar {
	width: 100%;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	background: transparent;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	position: fixed;
	z-index: 2;

	padding: 0.8rem 4rem 0 4rem;

	@media screen and (max-width: 500px) {
		padding: 0.8rem 2rem;
	}
}

.app__navbar-logo {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 15px;

	img {
		width: 120%;
		height: auto;

		@media screen and (min-width: 2000px) {
			width: 200%;
			height: auto;
		}

		@media screen and (max-width: 500px) {
			width: 90%;
			height: auto;
		}
	}
}

.app__navbar-links {
	display: flex;
	justify-content: center;
	align-items: center;

	list-style: none;

	li {
		margin: 0 1rem;
		cursor: pointer;

		flex-direction: column;

		a {
			color: var(--gray-color);
			text-decoration: none;
			flex-direction: column;

			text-transform: uppercase;
			p {
				border-bottom: 1px solid transparent;
			}

			transition: all 0.3s ease-in-out;

			&:hover {
				p {
					color: var(--secondary-color);
					border-bottom: 1px solid var(--secondary-color);
				}
			}
		}
	}

	@media screen and (max-width: 900px) {
		display: none;
	}
}

.app__navbar-menu {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: 900px) {
		display: none;
	}
}

.app__navbar-icon {
	border-radius: 50%;
	padding: 5px 5px 2px 5px;
	background-color: var(--secondary-color);
	opacity: 0.8;
	transition: all 0.3s ease-in-out;
	svg {
		color: var(--white-color);
		height: 25px;
		width: 25px;
	}
	&:hover {
		cursor: pointer;
		opacity: 1;
	}
	@media screen and (max-width: 500px) {
		svg {
			color: var(--white-color);
			height: 20px;
			width: 20px;
		}
	}
}

.app__navbar-menu-pages {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 5;

	padding: 1rem;

	width: 80%;
	height: 100vh;

	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;

	background: url('../../assets/bgWhite.png');
	background-color: var(--white-color);
	background-size: cover;
	background-repeat: repeat;

	/* top box shadow */
	box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

	svg {
		width: 35px;
		height: 35px;
		color: var(--secondary-color);
		margin: 0.5rem 1rem;
		opacity: 0.8;
		&:hover {
			cursor: pointer;
			opacity: 1;
		}
		@media screen and (max-width: 500px) {
			height: 25px;
			width: 25px;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;

		li {
			margin: 1rem;

			a {
				color: var(--gray-color);
				text-decoration: none;
				text-transform: uppercase;

				transition: all 0.3s ease-in-out;

				&:hover {
					p {
						color: var(--secondary-color);
					}
				}
			}
		}
	}

	@media screen and (min-width: 900px) {
		display: none;
	}
}
